<!DOCTYPE html>
<html lang="en">
  <body>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>
    </head>
    <header>
      <nav>
        <ul> 
            <li>
                <a href="{% url 'list_books' %}">All Books</a>
            </li>
            <li>
                <a href="{% url 'create_books' %}">Create Book</a>
            </li>
            <li>
                <a href="{% url 'list_magazines' %}">All Magazines</a>
            </li>
            <li>
                <a href="{% url 'create_magazine' %}">Create Magazine</a>
            </li>

        </ul>
      </nav>
    </header>
    <main>
        
        <div class="main-card">
          <h1>{{magazine.title }}</h1>
          <a href="{% url 'list_genre' magazine.pk %}">Explore This Genre</a>
          <p><img src={{ magazine.cover}} width = 200, height = auto></p>
          
          {% for issue in magazine.issues.all %}
          <h2>{{ issue.issue_title }}</h2>
          <p>{{ issue.description }}</p>
          
          {% endfor %}
        </div>
      <div>
          <button><a href="{% url 'edit_magazine' magazine.pk %}">Edit Magazine</a></button>
          <button><a href="{% url 'delete_magazine' magazine.pk %}">Delete Magazine</a></button>
      </div>  
    </main>
  </body>

</html>