
<!DOCTYPE html>
<html>   
    <body>  
        <header>
            <nav>
                <ul> 
                    <li>
                        <a href="{% url 'list_books' %}">All Books</a>
                    </li>
                    <li>
                        <a href="{% url 'create_books' %}">Create Book</a>
                    </li>
                    <li>
                      <a href="{% url 'list_magazines' %}">All Magazines</a>
                    </li>
                    <li>
                        <a href="{% url 'create_magazine' %}">Create Magazine</a>
                    </li>
                </ul>
              </nav>
        </header>
        <main>
            <div>
                <h1>Create A New Magazine</h1>
                <form method ="POST" enctype="multppart/form-date">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <input type="submit" value="Submit">
                </form>
            </div>
        <main>
    </body>
</html>