
<!DOCTYPE html>
<html>   
    <head>

    </head>
    <body>  
        <header>
            <nav>
                <ul> 
                    <li>
                        <a href="{% url 'list_books' %}">All Books</a>
                    </li>
                    <li>
                        <a href="{% url 'create_books' %}">Create Book</a>
                    </li>
                    <li>
                        <a href="{% url 'list_magazines' %}">All Magazines</a>
                    </li>
                    <li>
                        <a href="{% url 'create_magazine' %}">Create Magazine</a>
                    </li>
                </ul>
              </nav>
        </header>
        <main>
            <div>
                <h1>Edit Magazine</h1>
                <div>
                    <h1><p>{{ magazine.title }}</p></h1>
                    <p>{{ magazine.cover }}</p>
                    <p>{{ magazine.release_cycle }}</p>
                    <p>{{ magazine.description }}</p>
                    <p>{{ magazine.genre }}</p>
                    
                    {% comment %} <button><a href="{% url 'edit_magazine' magazine.pk %}">Edit Magazine</a></button> {% endcomment %}
                </div>
                
                <form method ="POST" enctype="multppart/form-date">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <input type="submit" value="Submit">
                    
                </form>
                
            </div>
        <main>
    </body>
</html>