{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magazine Issues</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
  </header>
  <main class="magazine-grid">
    {% for magazine in magazines %}
      <div class="magazine-card">
        <img src={{ magazine.cover}} width="200" height=auto>
        <h1>
          <a href={% url 'magazine_detail' magazine.pk %}>{{ magazine.title }}</a>
        </h1> 
        <p>{{ magazine.description }}</p>
        <p>{{ magazine.cycle}}</p>
        <p>
          <a href={% url 'delete_magazine' magazine.pk %}>Delete this magazine?</a>
        </p> 
      </div>
    {% endfor %}
  </main>
</body>

</html>
