<!DOCTYPE html>
<html lang="en">
  <body>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>
    </head>
    <header>
      <nav>
        <ul> 
            <li>
                <a href="{% url 'list_books' %}">All Books</a>
            </li>
            <li>
                <a href="{% url 'create_books' %}">Create Book</a>
            </li>
            <li>
                <a href="{% url 'list_magazines' %}">All Magazines</a>
            </li>
            <li>
                <a href="{% url 'create_magazine' %}">Create Magazine</a>
            </li>

        </ul>
      </nav>
    </header>
    <main>
      {% for magazine in magazines %}


        <div class="magazine-card">
          <li>
            <a href="{% url 'magazine_detail' magazine.pk %}">Magazine Details</a>
          </li>
          <li>
            <a href="{% url 'list_issue' magazine.pk %}">{{ issue.magazine_title }}</a>
          <h1><p>{{ magazine.title }}</p></h1>
          <p><img src={{ magazine.cover}} width = 200, height = auto></p>
          <p>{{ magazine.description }}</p>
          <p>{{ magazine.release_cycle }}</p>
        </div>
      {% endfor %}

      </main>
  </body>

</html>