<!DOCTYPE html>
<html lang="en">
  <body>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>
    </head>
    <header>
        <h1>Helloe</h1>
      <nav>
        <ul> 
            <li>
                <a href="{% url 'list_books' %}">All Books</a>
            </li>
            <li>
                <a href="{% url 'create_books' %}">Create Book</a>
            </li>
            <li>
              <a href="{% url 'list_magazines' %}">All Magazines</a>
          </li>
          <li>
              <a href="{% url 'create_magazine' %}">Create Magazine</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>


        <div class="main">
            <!-- Create a Form -->
            <form method="POST">
                <!-- Security token by Django -->
                {% csrf_token %}
                Are you want to delete this item ?
                <input type="submit" value="Yes" />
                <a href="/">Cancel</a>
            </form>
        </div>
      <div>

      </div>
      </main>
  </body>

</html>