<!DOCTYPE html>
<html lang="en">
  <body>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>
    </head>
    <header>
      <nav>
        <ul> 
            <li>
                <a href="{% url 'list_books' %}">All Books</a>
            </li>
            <li>
                <a href="{% url 'create_books' %}">Create Book</a>
            </li>
            <li>
              <a href="{% url 'list_magazines' %}">All Magazines</a>
          </li>
          <li>
              <a href="{% url 'create_magazine' %}">Create Magazine</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>

        <div class="main">
            <!-- Display attributes of instance -->
            {{ data.title }} <br/>
            {{ data.description }}
        </div>
      <div>

          <h1><p>{{ book.title }}</p></h1>
          <h2><p> {{ book.author.first.name }}</p></h2>
          <p>{{ book.pages }}</p>
          <p>{{ book.isbn }}</p>
          <p>{{ book.in_print }}</p>
          <p><img src={{ book.image}}></p>
          <p>{{book.reviews.all}}</p>
          <p>{{ book.description }}</p>
          <button><a href="{% url 'edit_book' book.pk %}">Edit Book</a></button>
          <button><a href="{% url 'delete_view' book.pk %}">Delete Book</a></button>
        </div>    
      </main>
  </body>

</html>