
<!DOCTYPE html>
<html>   
    <head>

    </head>
    <body>  
        <header>
            <nav>
                <ul> 
                    <li>
                        <a href="{% url 'list_books' %}">All Books</a>
                    </li>
                    <li>
                        <a href="{% url 'create_books' %}">Create Book</a>
                    </li>
                    <li>
                        <a href="{% url 'list_magazines' %}">All Magazines</a>
                    </li>
                    <li>
                        <a href="{% url 'create_magazine' %}">Create Magazine</a>
                    </li>
                </ul>
              </nav>
        </header>
        <main>
            <div>
                <h1>Edit Book</h1>
                <div>
                    <h1><p>{{ book.title }}</p></h1>
                    <h2><p>{{ book.author }}</p></h2>
                    <p>{{ book.pages }}</p>
                    <p>{{ book.isbn }}</p>
                    <p>{{ book.in_print }}</p>
                    <p><img src={{ book.image}}></p>
                    <p>{{ book.description }}</p>
                    
                    {% comment %} <a class="btn btn-primary" href="<int:pk>/edit">Edit Book</a> {% endcomment %}
                </div>
                
                <form method ="POST" enctype="multppart/form-date">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <input type="submit" value="Submit">
                    
                </form>
                
            </div>
        <main>
    </body>
</html>