<!DOCTYPE html>
<html lang="en">
  <body>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>
    </head>
    <header>
      <nav>
        <ul> 
            <li>
                <a href="{% url 'list_books' %}">All Books</a>
            </li>
            <li>
                <a href="{% url 'create_books' %}">Create Book</a>
            </li>
            <li>
              <a href="{% url 'list_magazines' %}">All Magazines</a>
          </li>
          <li>
            <a href="{% url 'create_magazine' %}">Create Magazine</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      {% for book in books %}

        <div class="book-card">
          <h1><p>{{ book.title }}</p></h1>
          <li>
            <a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a>
          </li>
          <h2><p>{{ book.author }}</p></h2>
          <p><img src={{ book.image}}></p>
          <p>{{ book.description }}</p>
          <p>{{ book.pages }}</p>
          <p>{{ book.isbn }}</p>
          <p>{{ book.in_print }}</p>
        </div>
      {% endfor %}

      </main>
  </body>

</html>